<h2 class="mat-headline">Meet our Team!</h2>

<div *ngFor="let employees of listemployees">
  <div fxLayout="row">
    <mat-card class="example-card" fxLayout="row">
      <mat-card-header class = "center" >
        <mat-card-title style="color: gray;">{{employees.firstName}} {{employees.lastName}}</mat-card-title> 
      </mat-card-header>
      <img style="width: 130px;height: 110px;" class="center" src= " {{employees.imageUrl}}">
      <mat-card-content class="center" style="text-align: center;color: gray;margin: 10px !important;">
        <p>Meet in our shop {{employees.firstName}} {{employees.lastName}},who is {{employees.age}} years old. You can call our employee with the nickname {{employees.userName}} and you can send an email at {{employees.email}}</p>
      </mat-card-content>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a delete icon" (click)="deleteEmployee(employees.userId)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>

</div>
</div>

<button mat-raised-button class="btn-green"  style="margin: 15px;float: right;" (click) = "addEmployee">
  <mat-icon>add</mat-icon>Add</button>

<app-mat-spinner-overlay></app-mat-spinner-overlay>


