<div class="card-wrapper" style="width:fit-content;">
    <mat-card class="example-card">
      <mat-card-header class = "center" >
        <mat-card-title style="color: gray;">{{item.name}}</mat-card-title> 
      </mat-card-header>
      <img style="width: 130px;height: 110px;" class="center" src= " {{item.image}}">
      <mat-card-actions class="center">
        <button class="center btn-purple" mat-raised-button  (click) = "addToCart()"><mat-icon>shopping_cart</mat-icon> Add to cart</button>
      </mat-card-actions>
    </mat-card>
  </div>

  