.table-header {
    font-size: 20px;
    background-color: #ff4081;
    padding: 20px 24px 0;
    margin-top: 40px;
    height: 50px;
    text-align: center;
    color: white;
  }
  
  table {
    width: 100%;
  }
  
  mat-paginator {
    width: 100%;
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  tr.mat-header-row {
    color: black;
  }
  
  .tableHeaderCellDiv { 
    resize: horizontal;  
    overflow:hidden;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
    
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
  
  .material-icons.md-18 { font-size: 18px; }
  
  .margin-10 {margin: 10px;}
  
  .mat-header-cell {
    background: white;
    font-size: 15px;
    font-weight: 550;
  }

  .is-empty-cart {
    font-size: 15px;
    background-color: #e470a72f;
    padding: 20px 24px 50px;
    height: 30px;
    text-align: center;
    color: rgba(21, 20, 20, 0.352);
    margin-bottom: 20px;
  }

  .details{
    font-size: 20px;
    background-color: cadetblue;
    padding: 20px 24px 40px;
    height: 30px;
    text-align: center;
    color: white;
  }