<mat-card style="text-align: center; margin-top: 30px; width: fit-content !important;">
  <mat-card-title style="margin: 30px;">Add Employee</mat-card-title>
 <mat-card-content style="margin: 30px;">
 <form [formGroup]="employeeForm">
       <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="70px">
       <p>
   <mat-form-field>
     <input matInput placeholder="User ID" formControlName="userId" required>
   </mat-form-field>
   </p>
       <p>
   <mat-form-field>
     <input matInput placeholder="First Name" formControlName="firstName" required>
   </mat-form-field>
       </p>
       </div>
     <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="70px">
     <p>
   <mat-form-field>
     <input matInput placeholder="Last Name" formControlName="lastName" required>
   </mat-form-field>
   </p>
   <p>
   <mat-form-field>
     <input matInput placeholder="Username" formControlName="username" required>
   </mat-form-field>
   </p>
 </div>
   <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="70px">
  <p>
   <mat-form-field>
     <input matInput placeholder="Age" formControlName="age" required>
   </mat-form-field>
   </p>
   <p>
   <mat-form-field>
     <input matInput placeholder="Email" formControlName="email" required>
   </mat-form-field>
   </p>
 </div>
  <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="70px">
   <p>
     
       <mat-form-field>
         <div class="file-upload">
           <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()" style="float: right;">
             <mat-icon style="float: right;">cake</mat-icon>
           </button>
         </div>
         <input type="text" matInput placeholder="Image" formControlName="imageUrl" [(ngModel)] = "fileName" >
         <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload> 
       </mat-form-field>        
       
   <p>
   <mat-form-field>
     <input matInput placeholder="Role" formControlName="roleId" required>
   </mat-form-field>
   </p>
 </div>
   <div class="button">
     <button mat-raised-button [mat-dialog-close]="false" (click)="closeDialog()" style="margin:10px;">Close</button>
   <button mat-raised-button color="primary" (click)="createEmployee()" [disabled]="!employeeForm.valid">Submit</button>
  </div>    
 </form>
     </mat-card-content>
</mat-card>
