<mat-toolbar color="accent">
    <mat-toolbar-row>
      <img src="assets/shop.png" style="width:35px; margin:10px;">
      <h1>CandyShop</h1>
      <span class="menu-spacer"></span>
      <div class = "align-right">
        <a mat-button [routerLink]="'/'"> Home </a>
        <a mat-button [routerLink]="'/sweets'"> Sweets </a>
        <!-- <a mat-button [routerLink]="'/sweets/2'"> Vegan Sweets </a>
        <a mat-button [routerLink]="'/allsweets'"> All Products </a> -->
        <a mat-button [routerLink]="'/cart'"> Cart </a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
  